{% extends "accounts/main.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col col-3">

        <div class="card">
            <p class="card-title">Are you sure you want to delete {{item}}?</p>
            <form action="{% url 'delete_order' item.id %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-sm btn-outline-info" href="{% url 'dashboard' %}">NO</a>
                <input class="btn btn-sm btn-outline-danger" type="submit" name="Confirm" id="" value="YES">
            </form>
        </div>
    </div>
</div>


{% endblock content %}